<div ng-if="name === 'External Search'" id="external-search">
    <div ng-hide="$ctrl.parentCtrl.facetGroup.facetGroupCollapsed">
        <div class="section-content animate-max-height-variable">
            <div class="md-chips md-chips-wrap">
                <div ng-repeat="target in targets" aria-live="polite" class="md-chip animate-opacity-and-scale facet-element-marker-local4">
                    <div class="md-chip-content layout-row" role="button" tabindex="0">
                        <strong class="facet-title" dir="auto" title="{{ target.name }}">
                            <a class="text-number-space" rel="noopener" ng-href="{{ target.url + target.mapping(queries, filters) }}" target="{{ target.target }}">
                                <img ng-src="{{ target.img }}" width="16" height="16" class="logo-external-search" alt="{{ target.name }} Logo" style="vertical-align:middle;"> {{ target.name }}
                            </a>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>